networks:
  dev:

services:
  db-postgres:
    image: postgres:17.5-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dev

  backend:
    ports:
    - "8030:8030"
    build:
      context: ./backend
      args:
        POSTGRES_USER: admin
    command: > 
      /wait-for-postgres.sh db-postgres \
      /app --cfg-path ${BACKEND_CONFIG_PATH} \
           --pgs-user ${POSTGRES_USER} \ 
           --pgs-pass ${POSTGRES_PASSWORD}
    depends_on:
      - db-postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - dev

volumes:
  pgdata: