networks:
  dev:

services:
  nginx:
    image: nginx:1.29.2-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend
    networks:
      - dev
  db-postgres:
    image: postgres:17.5-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dev

  frontend:
    build:
      context: ./frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
      args:
        POSTGRES_USER: admin
    command:
      - /wait-for-postgres.sh
      - db-postgres
      - /app
      - --auth-jwt-secret
      - ${AUTH_JWT_SECRET}
      - --cfg-path
      - ${BACKEND_CONFIG_PATH}
      - --pgs-user
      - ${POSTGRES_USER}
      - --pgs-pass
      - ${POSTGRES_PASSWORD}
    depends_on:
      - db-postgres
    environment:
      AUTH_JWT_SECRET: ${AUTH_JWT_SECRET}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      CONFIG_PATH: ${BACKEND_CONFIG_PATH}
    networks:
      - dev

volumes:
  postgres_data: