networks:
  dev:

volumes:
  postgres_data:

services:
  nginx:
    image: nginx:1.29.2-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  db-postgres:
    image: postgres:17.5-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dev

  frontend:
    build:
      context: ./frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
    depends_on:
      - db-postgres
    environment:
      BACKEND_CONFIG_PATH: ${BACKEND_CONFIG_PATH}
      AUTH_JWT_SECRET: ${AUTH_JWT_SECRET}

      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}

      S3_ENDPOINT_URL: ${S3_ENDPOINT_URL}
      S3_REGION: ${S3_REGION}
      S3_BUCKET: ${S3_BUCKET}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_PUBLIC_BASE: ${S3_PUBLIC_BASE}


    command:
      [
        "db-postgres",
        "./app",
        "--cfg-path", "${BACKEND_CONFIG_PATH}"
      ]
    networks:
      - dev
