.mainBlock {
    margin-bottom: 50px;
    width: 750px;
    background-color: #282e33;
    border-radius: 8px;
    border: 1px solid #21262a;
    box-shadow: 0 0 2px rgba(14, 13, 13, 0.418);
}

.headerSection {
    display: flex;
    align-items: center;
    padding-left: 35px;
    min-height: 40px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #21262a;
}

.headerSection p {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #a4a4a5;
}

.titleSection {
    padding: 15px 55px 0 25px;
    min-height: 45px;
}

.titleSection p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #dddde0;
    overflow-wrap: break-word;
}

.contentSection {
    padding: 0px 30px 35px 30px;
    min-height: 50px;
}

.contentSection p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #cacaca;
    overflow-wrap: break-word;
} 