.wrapper {
    display: block;
}

.authForm {
    position: sticky;
    top: 15px;
    display: grid;
    justify-content: center;
    min-height: 100px;
    width: 290px;
    padding-bottom: 10px;
    background-color: #282e33;
    border-radius: 8px;
    border: 1px solid #21262a;
    box-shadow: 0 0 2px rgba(14, 13, 13, 0.418)
}

.authForm section {
    margin: 0px 0 15px 0;
}

.authForm p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.authForm button {
    width: 245px;
    margin-bottom: 10px;
}

.authForm input {
    width: 215px;
}

.b1 {
    background: #638c47;
}

.b2 {
background: #2d3236;
    color: #9e9e9e;
}